@import 'block/header';
@import 'block/promo';
@import 'block/menu';
@import 'block/catalog';
@import 'block/settings';
@import 'block/profile';
@import 'block/manual';
@import 'block/footer';

@import 'block/media';


.noneText{
    opacity: 0;
}
.showText{
    opacity: 1;
}

.hide{
    display: none;
}
.show{
    display: block;
}

::-webkit-scrollbar{
    width: 0;
}
*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
a{
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}

.container{
    max-width: 1200px;
    display: block;
    margin: 0 auto;
}
.hamburger{
    width: 40px;
    cursor: pointer;
    img{
        width: 100%;
    }
}



.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade{
    from {
        opacity: 0.1;
    } to {
        opacity: 1;
    }
}

