@import 'block/header';
@import 'block/promo';
@import 'block/menu';
@import 'block/catalog';
@import 'block/settings';

@import 'block/profile';



@import 'block/footer';


.card_btn{
    width: 350px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #e6dada, #274046);
    border: none;
    color: #fff;
    font-size: 18px;
    box-shadow: 5px 5px 5px #cecece;
    margin-top: 10px;
    position: absolute;
    top: 150px;
    left: 785px;
    z-index: 1;
    transition: 0.6s all;
    cursor: pointer;
    img{
        width: 25px;
        margin-left: 5px;
    }
    &.active{
        top: 230px;
    }
}

.noneText{
    opacity: 0;
}
.showText{
    opacity: 1;
}

.hide{
    display: none;
}
.show{
    display: block;
}

::-webkit-scrollbar{
    width: 0;
}
*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
a{
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
.logo{
    display: flex;
    align-items: center;
    width: 185px;
    justify-content: space-between;
    .logo__title{
        font-size: 25px;
        color: #fff;
        font-family: 'Lobster', cursive;
    }
    img{
        width: 40px;
    }
}
.container{
    max-width: 1200px;
    display: block;
    margin: 0 auto;
}
.hamburger{
    width: 40px;
    cursor: pointer;
    img{
        width: 100%;
    }
}
.line{
    width: 100%;
    height: 10px;
    border-radius: 10px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #36d1dc, #5b86e5); 
}

.card{
    z-index: 2;
    position: relative;
    margin-top: 20px;
    display: flex;
    width: 370px;
    height: 200px;
    border-radius: 15px;
    background: url('../img/Titanium.jpg') center (center / cover) no-repeat;
    justify-content: space-around;
    box-shadow: 0 8px 8px rgba(128, 128, 128, 0.548);
    .circle{
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background: #ffffffd7;
        position: absolute;
        top: 25px;
        left: 50px;
    }
    .circle_blur{
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background: #ffffffa1;
        position: absolute;
        top: 25px;
        left: 30px;
    }
    .number{
        width: 310px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 110px;
        span{
            font-size: 16px;
            font-family: 'Credit Card';
            color: #fff;
        }
    }
    .money{
        position: absolute;
        bottom: 20px;
        left: 30px;
        color: #fff;
        font-size: 25px;
        display: flex;
        align-items: center;
        span{
            margin-left: 10px;
        }
        img{
            width: 30px;
        }
    }
    .date{
        color: #fff;
        font-size: 14px;
        position: absolute;
        right: 30px;
        bottom: 25px;
        font-family: 'Credit Card';
    }
    .title{
        font-size: 25px;
        font-weight: 700;
        position: absolute;
        right: 30px;
        top: 25px;
        color: #fff;
    }
}

