@import 'block/header';
@import 'block/promo';
@import 'block/menu';

@import 'block/profile';



@import 'block/footer';

::-webkit-scrollbar{
    width: 0;
}
*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
a{
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
.logo{
    display: flex;
    align-items: center;
    width: 185px;
    justify-content: space-between;
    .logo__title{
        font-size: 25px;
        color: #fff;
        font-family: 'Lobster', cursive;
    }
    img{
        width: 40px;
    }
}
.container{
    max-width: 1200px;
    display: block;
    margin: 0 auto;
}
.hamburger{
    width: 40px;
    cursor: pointer;
    img{
        width: 100%;
    }
}

.card{
    margin-top: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 370px;
    height: 200px;
    border-radius: 15px;
    background: url('../img/Titanium.jpg') center (center / cover) no-repeat;
    justify-content: space-around;
    box-shadow: 0 8px 8px rgba(128, 128, 128, 0.548);
    .circle{
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background: #ffffffd7;
        position: absolute;
        top: 25px;
        left: 50px;
    }
    .circle_blur{
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background: #ffffffa1;
        position: absolute;
        top: 25px;
        left: 30px;
    }
    .number{
        width: 310px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 110px;
        span{
            font-size: 16px;
            font-family: 'Credit Card';
            color: #fff;
        }
    }
    .money{
        position: absolute;
        bottom: 25px;
        left: 30px;
        color: #fff;
        font-size: 25px;
        span{
            margin-left: 10px;
        }
    }
    .date{
        color: #fff;
        font-size: 14px;
        position: absolute;
        right: 30px;
        bottom: 25px;
        font-family: 'Credit Card';
    }
    .title{
        font-size: 25px;
        font-weight: 700;
        position: absolute;
        right: 30px;
        top: 25px;
        color: #fff;
    }
}

progress{
    width: 420px;
    height: 3px;
    border-radius: 10px;
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}
progress::-webkit-progress-value {
    background: linear-gradient(89.6deg, rgba(84, 90, 175, 0.85) 21.52%, rgba(88, 114, 231, 0.548) 100%);
}
progress::-webkit-progress-bar{
    background: #d1d1d1;
}


